include *.py
include *.txt
exclude *.yaml
exclude *.toml
exclude *.coveragerc
exclude *.json

recursive-include lightning_api_access *

recursive-exclude lightning_api_access/node_modules *

recursive-exclude examples *
recursive-exclude docs *
recursive-exclude tests *.py
recursive-exclude tests *.feature
recursive-exclude * *.pyc
recursive-exclude * *.json
